/*
# Copyright (C) 2008 Ben Webb <bjwebb@freedomdreams.co.uk>
# This file is part of Libreapps Mail.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
*/

* {
	margin: 0;
}
body {
	font-family: arial, helvetica, sans-serif;
}
a {
	color: blue;
}
h1, h2 {
	font-family: serif;
}
h1 {
	display: inline;
}
h2 {
    padding: 0.5em 0em 0.5em 0em;
}
#intro {
	padding-bottom: 16px;
}
#sidebar {
	float: left;
	width: 7em;
	padding: 1em;
	background-color: white;
}
#main {
	padding-left: 9em;
	padding-right: 1em;
}
#main h2 {
	text-align: center;
}
.etitle {
	border-bottom: thin solid black;
}
.etitle, .ehead, .efoot {
	font-style: italic;
	background-color: #AAFFAA;
	padding: 7px;
}
#esend, .econ {
	padding-left: 16px;
}
.emess {
	border-left: medium solid #AAFFAA;
	border-right: medium solid #AAFFAA;
}
.espace {
    height: 15px;
}
#reply {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
#list {
	border-left: thin solid black;
	border-right: thin solid black;
	border-top: thin solid black;
	border-spacing: 0px;
}
#list td {
	border-bottom: thin solid black;
	padding: 3px;
}
tr.read {
	background-color: #DDFFDD;
}
tr.read_sel, tr.unread_sel {
	background-color: #FFFFDD;	
}
tr.header {
	background-color: #AAFFAA;
}
#notif {
	background-color: #FFFF55;
}
.inboxtag {
	background-color: #FFFF55;
}
.normaltag {
	background-color: #BBBBFF;
}

.messac, #subject {
    width: 40em;
}
.messlabel {
	height: 1.5em;
}
.messac {
	position: relative;
	top: -1.5em;
	left: 2.5em;
}
#messbar {
    padding-top: 0.5em;
    padding-bottom: 0em;
}
h2.mess {
    padding-top: 0em;
    padding-bottom: 0em;
}

